{% extends "layout.html" %}

{% block body %}
<div class='moveup'>
    <button onclick="moveUp()" id="upButton" title="up"><i class="fas fa-chevron-up"></i></button>
</div>
<main>
        <h2>Hae samankaltaisia artisteja <i class="fas fa-search"></i></h2><br>
        <form action="" method="get" class="search" id="searchforartist">
            <input name="nimi" class="searchfield" id="searchfield" placeholder="Anna artistin nimi" autocomplete="off"><br>
            <input type="submit" name="button" class="searchbutton" id="searchbutton" value="HAE">
        </form><br>
</main>
<div id='loading'>
</div>
<div id='results'>
</div>
<div class='pagination' id="pagination">
    <span><button type="button" class="pagebutton" id="previouspage"><<</button><span id="pagenr"></span><button type="button" class="pagebutton" id="nextpage">>></button></span>
</div>
<div id="infoModal" class="modal">
    <div class="modalcontent">
        <p class="close" id="close">&times;
        </p>
        <h4 id="artistiOtsikko">Odota hetki...</h4>
        <p id="artistiInfo"></p><br>
        <h4>Genret: </h4>
        <div id='smallergenretags'></div><br>
        <h4>Samankaltaisia artisteja:</h4>
        <div id="similar"></div><br>
    </div>
</div>

<script> 

// tee uusi haku infoboksista klikatun artistin mukaan
    window.newSearch = newSearch;

// info-ikkunan avaus
    function naytaInfo(artistiNimi) {
        document.getElementById("artistiInfo").innerHTML = "Ladataan...";
        var modal = document.getElementById("infoModal");
        var p = document.getElementsByClassName("close")[0];
        modal.style.display = "block";
        p.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        document.getElementById("artistiOtsikko").innerHTML = artistiNimi;
        let searchArtist = encodeURIComponent(artistiNimi);
        $.ajax({
            async:true,
            type: 'GET',
            url: `http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=${searchArtist}&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`,
            success: (payload) => {
                console.log(payload)
                document.getElementById("artistiInfo").innerHTML = payload.artist.bio.summary;
                document.getElementById("similar").innerHTML = payload.artist.similar.artist
                    .map(({name,url})=>`<span><a onclick='newSearch("${name}")'>${name}</a></span>`).join(", ");
            }
        });
        let artistigenreurl = `http://ws.audioscrobbler.com/2.0/?method=artist.gettoptags&artist=${searchArtist}&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        $.ajax({
            async:true,
            type: 'GET',
            url: artistigenreurl,
            success: (payload) => {
                console.log(payload)
                let searchresult = payload.toptags.tag.map(({name, url})=>`<span><a href="${url}">${name}</a></span>`);
                let ekatViisi = searchresult.filter((tagi,index)=> index<5).join(", ");
                document.getElementById("smallergenretags").innerHTML = ekatViisi;
            }
        });
    }

// scrollaa takaisin ylös -nappi
let scrollUp = document.getElementById("upButton");
window.onscroll = function() {scrollFunction(scrollUp)};


// haetaan results
    function fetchResults(event) {
        document.getElementById('searchbutton').disabled = true;
        document.getElementById('results').innerHTML = "";
        document.getElementById('loading').innerHTML = "Ladataan...";
        event.preventDefault();
        let lomake = document.getElementById("searchforartist");
        let datalomake = new FormData(lomake);
        let nimi = datalomake.get("nimi");
        let searchArtistUrl = `http://ws.audioscrobbler.com/2.0/?method=artist.getsimilar&artist=${nimi}&limit=30&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        console.log(searchArtistUrl);
        document.getElementById("results").innerHTML = "";
        setTimeout(() => {
        document.getElementById('searchbutton').disabled = false;
        },  1000);
            $.ajax({
                async:true,
                type: 'GET',
                url: searchArtistUrl,
                success: (payload) => {
                    console.log(payload)
                    if (payload.error) {
                        document.getElementById('loading').innerHTML = "Yhtään tulosta ei löytynyt!";
                    } else {
                    payload.similarartists.artist.forEach((artist)=> showArtist(artist, naytaInfo));
                    document.getElementById('loading').innerHTML = "";
                    }
                }
            });
    }


// hae-buttonin aktivointi
    $(".search").submit(function(event) {
        fetchResults(event);
    });
</script>
{% endblock %}