{% extends "layout.html" %}

{% block body %}
<div class='moveup'>
    <button onclick="moveUp()" id="upButton" title="up"><i class="fas fa-chevron-up"></i></button>
</div>
<main>
        <h2>Hae genren perusteella <i class="fas fa-search"></i></h2><br>
        <form action="" method="get" class="search" id="genresearch">
            <input type="radio" id="albumi" name="genrechoice" value="albumi" checked>
                <label for="albumi">Hae albumeita &nbsp;</label>
            <input type="radio" id="artisti" name="genrechoice" value="artisti">
                <label for="artisti">Hae artisteja</label><br><br>
            <input name="nimi" class="searchfield" id="searchfield" placeholder="Anna genren nimi" autocomplete="off" required><br>
            <input type="submit" name="button" class="searchbutton" id="searchbutton" value="HAE"><br>
            <div id= "searchtip">
                <strong>Vinkki!</strong> Haethan vain yhtä genreä kerrallaan. <br>
                <p>Kokeile hakua esimerkiksi musiikkityyleittäin (esim. <i>post-punk</i>),<br> soittimittain (esim. <i>violin</i>) tai vuoden perusteella (esim. <i>1990</i>).</p>
            </div>
        </form><br>
</main>
<div id='loading'>
</div>
<div id='results'>
</div>
<div class='pagination' id="pagination">
    <span><button type="button" class="pagebutton" id="previouspage"><<</button><span id="pagenr"></span><button type="button" class="pagebutton" id="nextpage">>></button></span>
</div>
<div id="infoModal" class="modal">
    <div class="modalcontent">
        <p class="close" id="close">&times;
        </p>
        <div class="infoheader" id="infoheader">Odota hetki...</div><br>
        <div id="infocontent"></div><br>
        <h4>Genret: </h4>
        <div id='genretags'></div><br>
        <h5 id="secondinfoheader"></h5>
        <ul id="additionalinfo"></ul>
    </div>
</div>


<script>

// search again by a genre link from infobox
    window.newSearch = newSearch;

// open artist infobox
   function showInfo(artistName) {
        document.getElementById("infocontent").innerHTML = "Ladataan...";
        var modal = document.getElementById("infoModal");
        var p = document.getElementsByClassName("close")[0];
        modal.style.display = "block";
        // close by clicking either icon or outside the box
        p.onclick = function() {
            modal.style.display = "none";
            document.getElementById("secondinfoheader").innerHTML ="";
            document.getElementById("additionalinfo").innerHTML = "";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                document.getElementById("secondinfoheader").innerHTML ="";
                document.getElementById("additionalinfo").innerHTML = "";
            }
        }
        document.getElementById("infoheader").innerHTML = artistName;
        // get additional info
        let searchArtist = encodeURIComponent(artistName);
        $.ajax({
            async:true,
            type: 'GET',
            url: `http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=${searchArtist}&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`,
            success: (payload) => {
                // show artist biography and similar artists
                document.getElementById("infocontent").innerHTML = payload.artist.bio.summary;
                document.getElementById("secondinfoheader").innerHTML ="Samankaltaisia artisteja:";
                document.getElementById("additionalinfo").innerHTML = payload.artist.similar.artist
                    .map(({name,url})=>`<li><a href="${url}">${name}</a></li>`).join("");
            }
        });
        let artistigenreurl = `http://ws.audioscrobbler.com/2.0/?method=artist.gettoptags&artist=${searchArtist}&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        $.ajax({
            async:true,
            type: 'GET',
            url: artistigenreurl,
            success: (payload) => {
                console.log(payload)
                let searchresult = payload.toptags.tag.map(({name})=>`<span><a onclick='newSearch("${name}")'>${name}</a></span>`);
                let firstFive = searchresult.filter((tagi,index)=> index<5).join(", ");
                document.getElementById("genretags").innerHTML = firstFive;
            }
        });
    }

// open album infobox
    function albumiInfo(albumName, artistName) {
        document.getElementById("infocontent").innerHTML = "Ladataan...";
        var modal = document.getElementById("infoModal");
        var p = document.getElementsByClassName("close")[0];
        modal.style.display = "block";
        // close by click
        p.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        document.getElementById("infoheader").innerHTML = `${artistName}: ${albumName}`;
        // get additional info
        let searchArtist = encodeURIComponent(artistName);
        let searchAlbum = encodeURIComponent(albumName);
        $.ajax({
            async:true,
            type: 'GET',
            url: `http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key=b7ba2a47c41146f14422726a121f27b7&artist=${searchArtist}&album=${searchAlbum}&format=json`,
            success: (payload) => {
                console.log(payload)
                // show album info and track listing
                if (payload.album.wiki) {
                    document.getElementById("infocontent").innerHTML = payload.album.wiki.summary;
                    document.getElementById("additionalinfo").innerHTML = "<h3>Kappaleet:</h3>"+payload.album.tracks.track
                    .map(({name})=>`<li>${name}</li>`).join("");
                } else {
                    document.getElementById("infocontent").innerHTML = "";
                    document.getElementById("additionalinfo").innerHTML = "<h3>Kappaleet:</h3>"+payload.album.tracks.track
                    .map(({name})=>`<li>${name}</li>`).join("");
                }
            }
        });
        let albumigenreurl = `http://ws.audioscrobbler.com/2.0/?method=album.gettoptags&artist=${searchArtist}&album=${searchAlbum}&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        $.ajax({
            async:true,
            type: 'GET',
            url: albumigenreurl,
            success: (payload) => {
                console.log(payload)
                let searchresult = payload.toptags.tag.map(({name})=>`<span><a onclick='newSearch("${name}")'>${name}</a></span>`);
                let firstFive = searchresult.filter((tagi,index)=> index<5).join(", ");
                document.getElementById("genretags").innerHTML = firstFive;
            }
        });
    }



// scroll back to top-button
let scrollUp = document.getElementById("upButton");
window.onscroll = function() {scrollFunction(scrollUp)};


// pagination
let sivu = 1;

$("#previouspage").click(function(event){
    if (sivu > 1){
        sivu--;
        fetchResults(event);
        moveUp();
    }
})

$("#nextpage").click(function(event){
    sivu++;
    fetchResults(event);
    moveUp();
})


// fetch the results by given genre
    function fetchResults(event) {
        document.getElementById('searchbutton').disabled = true;
        document.getElementById('results').innerHTML = "";
        document.getElementById('loading').innerHTML = "Ladataan...";
        document.getElementById('pagination').style.display = "flex";
        document.getElementById('pagenr').innerHTML = sivu;
        event.preventDefault();
        let lomake = document.getElementById("genresearch");
        let datalomake = new FormData(lomake);
        let nimi = datalomake.get("nimi");
        let genre = datalomake.get("genrechoice");
        let artistiurl = `http://ws.audioscrobbler.com/2.0/?method=tag.gettopartists&tag=${nimi}&page=${sivu}&limit=24&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        let albumiurl = `http://ws.audioscrobbler.com/2.0/?method=tag.gettopalbums&tag=${nimi}&page=${sivu}&limit=24&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        setTimeout(() => {
        document.getElementById('searchbutton').disabled = false;
        },  1000);
        if (genre === "artisti") {
            $.ajax({
                async:true,
                type: 'GET',
                url: artistiurl,
                success: (payload) => {
                    console.log(payload)
                    if (payload.topartists.artist.length === 0) {
                        document.getElementById('loading').innerHTML = "Yhtään tulosta ei löytynyt!";
                    } else {
                    payload.topartists.artist.forEach((artist)=> showArtist(artist, showInfo));
                    document.getElementById('loading').innerHTML = ""; 
                    }
                }
            });
        } else if (genre === "albumi") {
            $.ajax({
                async:true,
                type: 'GET',
                url: albumiurl,
                success: (payload) => {
                    console.log(payload)
                    if (payload.albums.album.length === 0) {
                        document.getElementById('loading').innerHTML = "Yhtään tulosta ei löytynyt!";
                    } else {
                    payload.albums.album.forEach((album)=> showAlbum(album, albumiInfo));
                    document.getElementById('loading').innerHTML = ""; 
                    }
                }
            });
        } else {}

    } 

// activate search-button
    $(".search").submit(function(event){
        sivu = 1;
        fetchResults(event);
    });
</script>
{% endblock %}
