{% extends "layout.html" %}

{% block body %}
<div class='moveup'>
    <button onclick="moveUp()" id="upButton" title="up"><i class="fas fa-chevron-up"></i></button>
</div>
<main>
    <h2>Hae last.fm -käyttäjän nimellä <i class="fas fa-search"></i></h2><br>
    <form action="" method="get" class="search" id="usersearch">
        <input type="radio" id="albumi" name="searchtype" value="albumi" checked>
            <label for="albumi">Hae käyttäjän kuunnelluimmat albumit &nbsp;</label><br>
        <input type="radio" id="artisti" name="searchtype" value="artisti">
            <label for="artisti">Hae käyttäjän kuunnelluimmat artistit</label><br><br>
        <h4>Ajalta:</h4>
        <input type="radio" id="vuosi" name="range" value="12month" checked>
            <label for="vuosi">Viimeiset 12 kk &nbsp;</label>
        <input type="radio" id="overall" name="range" value="overall">
            <label for="overall">Kaikki</label>
        <br><br>
        <input name="nimi" class="searchfield" placeholder="Kirjoita käyttäjätunnus" autocomplete="off" required><br>
        <input type="submit" name="button" class="searchbutton" id="searchbutton" value="HAE"><br>
    </form><br>
</main>
<div id='loading'>
</div>
<div id='results'>
</div>
<div class='pagination' id="pagination">
    <span><button type="button" class="pagebutton" id="previouspage"><<</button><span id="pagenr"></span><button type="button" class="pagebutton" id="nextpage">>></button></span>
</div>
<div id="infoModal" class="modal">
    <div class="modalcontent">
        <p class="close" id="close">&times;
        </p>
        <h4 id="infoheader">Odota hetki...</h4>
        <p id="infocontent"></p><br>
        <div id='smallergenretags'></div><br>
        <h5 id="secondinfoheader"></h5>
        <ul id="additionalinfo"></ul>
    </div>
</div>

<script> 

// open artist infobox
   function showInfo(artistName) {
        document.getElementById("infocontent").innerHTML = "Ladataan...";
        var modal = document.getElementById("infoModal");
        var p = document.getElementsByClassName("close")[0];
        modal.style.display = "block";
        // close by clicking either icon or outside the box
        p.onclick = function() {
            modal.style.display = "none";
            document.getElementById("secondinfoheader").innerHTML ="";
            document.getElementById("additionalinfo").innerHTML = "";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                document.getElementById("secondinfoheader").innerHTML ="";
                document.getElementById("additionalinfo").innerHTML = "";
            }
        }
        document.getElementById("infoheader").innerHTML = artistName;
        // get additional info
        let searchArtist = encodeURIComponent(artistName);
        $.ajax({
            async:true,
            type: 'GET',
            url: `http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=${searchArtist}&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`,
            success: (payload) => {
                console.log(payload)
                // näytetään artistibio ja samankaltaiset artistit
                document.getElementById("infocontent").innerHTML = payload.artist.bio.summary;
                document.getElementById("secondinfoheader").innerHTML ="<h4>Samankaltaisia artisteja: </h4>";
                document.getElementById("additionalinfo").innerHTML = payload.artist.similar.artist
                .map(({name, url})=>`<span><a href="${url}">${name}</a></span>`).join(", ");
            }
        });
        let artistigenreurl = `http://ws.audioscrobbler.com/2.0/?method=artist.gettoptags&artist=${searchArtist}&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        $.ajax({
            async:true,
            type: 'GET',
            url: artistigenreurl,
            success: (payload) => {
                // näytetään genretägit
                console.log(payload)
                let searchresult = payload.toptags.tag.map(({name, url})=>`<span><a href="${url}">${name}</a></span>`);
                let firstFive = searchresult.filter((tagi,index)=> index<5).join(", ");
                document.getElementById("smallergenretags").innerHTML = "<h4>Genret: </h4>"+firstFive;
            }
        });
    }

// open album infobox
    function albumiInfo(albumName, artistName) {
        document.getElementById("infocontent").innerHTML = "Ladataan...";
        var modal = document.getElementById("infoModal");
        var p = document.getElementsByClassName("close")[0];
        modal.style.display = "block";
        // close by clicking either icon or outside the box
        p.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        document.getElementById("infoheader").innerHTML = `${artistName}: ${albumName}`;
        let searchArtist = encodeURIComponent(artistName);
        let searchAlbum = encodeURIComponent(albumName);
        // get additional info
        $.ajax({
            async:true,
            type: 'GET',
            url: `http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key=b7ba2a47c41146f14422726a121f27b7&artist=${searchArtist}&album=${searchAlbum}&format=json`,
            success: (payload) => {
                console.log(payload)
                // show album info and track listing
                if (payload && payload.album && payload.album.wiki) {
                    document.getElementById("infocontent").innerHTML = payload.album.wiki.summary;
                    document.getElementById("additionalinfo").innerHTML = "<h4>Kappaleet:</h4>"+payload.album.tracks.track
                    .map(({name})=>`<li>${name}</li>`).join("");
                } else {
                    document.getElementById("infocontent").innerHTML = "";
                    document.getElementById("additionalinfo").innerHTML = "<h4>Kappaleet:</h4>"+payload.album.tracks.track
                    .map(({name})=>`<li>${name}</li>`).join("");
                }
            }
        });
    }


// scroll back to top-button
let scrollUp = document.getElementById("upButton");
window.onscroll = function() {scrollFunction(scrollUp)};


// pagination
let sivu = 1;

$("#previouspage").click(function(event){
    if (sivu > 1){
        sivu--;
        fetchResults(event);
        moveUp();
    }
})

$("#nextpage").click(function(event){
    sivu++;
    fetchResults(event);
    moveUp();
})


// fetch the results by given username
    function fetchResults(event) {
        document.getElementById('searchbutton').disabled = true;
        document.getElementById('results').innerHTML = "";
        document.getElementById('loading').innerHTML = "Ladataan...";
        document.getElementById('pagination').style.display = "flex";
        document.getElementById('pagenr').innerHTML = sivu;
        event.preventDefault();
        let lomake = document.getElementById("usersearch");
        let datalomake = new FormData(lomake);
        let nimi = datalomake.get("nimi");
        let searchtype = datalomake.get("searchtype");
        let periodi = datalomake.get('range');
        let artistiurl = `http://ws.audioscrobbler.com/2.0/?method=user.gettopartists&user=${nimi}&page=${sivu}&period=${periodi}&limit=24&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        let albumiurl = `http://ws.audioscrobbler.com/2.0/?method=user.gettopalbums&user=${nimi}&page=${sivu}&period=${periodi}&limit=24&api_key=b7ba2a47c41146f14422726a121f27b7&format=json`;
        setTimeout(() => {
        document.getElementById('searchbutton').disabled = false;
        },  1000);
        if (searchtype === "artisti") {
            $.ajax({
                async:true,
                type: 'GET',
                url: artistiurl,
                success: (payload) => {
                    console.log(payload)
                    if (payload.topartists.artist.length === 0) {
                        document.getElementById('loading').innerHTML = "Yhtään tulosta ei löytynyt!";
                    } else {
                    payload.topartists.artist.forEach((artist)=> showArtist(artist, showInfo));
                    document.getElementById('loading').innerHTML = "";
                    }
                }
            });
        } else if (searchtype === "albumi") {
            $.ajax({
                async:true,
                type: 'GET',
                url: albumiurl,
                success: (payload) => {
                    console.log(payload)
                    if (payload.topalbums.album.length === 0) {
                        document.getElementById('loading').innerHTML = "Yhtään tulosta ei löytynyt!";
                    } else {
                    payload.topalbums.album.forEach((album)=> showAlbum(album, albumiInfo));
                    document.getElementById('loading').innerHTML = "";
                    }
                }
            });
        } else {}
    }

// activate search-button
    $(".search").submit(function(event){
        sivu = 1;
        fetchResults(event);
    });
</script>
{% endblock %}