<!DOCTYPE html>
<html>
    <head>
        <title>Musapython</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro:900|Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/functions.js"></script>
    </head>
    <body>
        <div>
            <nav>
                <ul class="menu">
                    <li class="item"><a href="#">About</a></li>
                    <li class="item"><a href="{{ url_for('main') }}">Genret</a></li>
                    <li class="item"><a href="{{ url_for('artistihaku') }}">Artistit</a></li>
                    {% if current_user.is_anonymous %}
                    <li class="item"><i class="fas fa-sign-in-alt"></i><a href="{{ url_for('login') }}"> Kirjaudu sisään</a></li>
                    {% else %}
                    <li class="item"><a href="{{ url_for('kayttajahaku') }}">Hae käyttäjänimellä</a></li>
                    <li class="item"><i class="fas fa-sign-out-alt"></i><a href="{{ url_for('logout') }}"> Kirjaudu ulos</a></li>
                    {% endif %}
                    <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
        </div>
        <h1>{% block heading %}{% endblock %}</h1>
        <div id=viesti>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            </div>
        {% block body %}
        {% endblock %}
        <footer>
            <p>All the music information provided by <strong><a href="https://www.last.fm/">last.fm.</a></strong></p>
        </footer>
        <script>
            // linkkivalikko
            $(function() {
                $(".toggle").on("click", function(event) {
                    console.log('clicked', event)
                    if ($(".item").hasClass("active")) {
                        $(".item").removeClass("active");
                        $(this).find("a").html("<i class='fas fa-bars'></i>");
                    } else {
                        $(".item").addClass("active");
                        $(this).find("a").html("<i class='fas fa-times'></i>");
                    }
                });
            });
        </script>
    </body>
</html>