{% extends "layout.html" %}

{% block body %}
<main>
    <div class='userform' >
        <h2>Kirjaudu</h2><br>
        <p class="kayttajainfo"></p>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <span>
            <label for="nimi">
                <i class="fas fa-user"></i>
            </label>
            {{ form.name(id="nimi", class="userfield") }}
            {% for error in form.name.errors %}
                <span>[{{ error }}]</span>
            {% endfor %}
        </span><br>
        <span>
            <label for="salasana">
                <i class="fas fa-lock"></i>
            </label>
            {{ form.password(id="salasana", class="userfield") }}
            {% for error in form.name.errors %}
                <span>[{{ error }}]</span>
            {% endfor %}
        </span><br><br>
        {{ form.submit(class="userbutton") }} <br><br>
        <p>Eikö sinulla ole vielä tunnuksia? </p>
        <p><strong><a href="{{ url_for('register') }}">Luo tunnukset tästä.</a></strong></p><br>
        </form>
    </div>
</main>
{% endblock %}