{% extends "layout.html" %}

{% block body %}
<div class='container'>
    <div class='kayttajalomake' >
        <h2>Rekisteröidy</h2><br>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% for error in form.name.errors %}
                <span>[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.email.errors %}
                <span>[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.password.errors %}
                <span>[{{ error }}]</span><br>
            {% endfor %}
            {% for error in form.password2.errors %}
                <span>[{{ error }}]</span><br>
            {% endfor %}
            <span>
                <label for="nimi">
                    </nimi><i class="fas fa-user">*</i>
                </label>
                {{ form.name(id="nimi", class="kayttajakentta") }}
            </span><br>
            <span>
                <label for="email">
                   <i class="fas fa-envelope">*</i>
                </label>
                {{ form.email(id="email", class="kayttajakentta") }}
            </span><br>
            <span>
                <label for="password">
                    <i class="fas fa-lock">*</i>
                </label>
                {{ form.password(id="password", class="kayttajakentta") }}
                
            </span><br>
            <span>
                <label for="password2">
                    <i class="fas fa-lock">*</i>
                </label>
                {{ form.password2(id="password", class="kayttajakentta") }}
            </span><br>
            {{ form.submit(class="kayttajabutton") }} <br><br>
            <p>* = Pakollinen tieto.</p>
            <p>Huom! Salasanan on oltava vähintään kuusi merkkiä pitkä!</p><br>
        <p>Onko sinulla jo tunnukset?</p>
        <p><strong><a href="{{ url_for('login') }}">Kirjaudu sisään tästä.</a></strong></p><br>
        </form>
    </div>
</div>
{% endblock %}